@{
    ViewData["Title"] = "Home Page";
}

@model IndexViewModel
<div class="container d-flex text-center justify-content-center align-items-center">
    <div class="">
        <h1 class="text-success pt-2 text-align-center">S U C C E S S</h1>
    </div>
</div>